.topbarContainer{
    height: 3.5rem;
    width: 100%;
    background-color: #9c77e0;
    display:flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index:999
}
.topbarLeft{
    flex:3;
}
.topbarRight{
flex:4;
display:flex;
align-items: center;
justify-content: space-around;

}
.topbarCenter{
flex:5;
}
.topbarLink{
margin-right:1rem;
font-size: 1rem;
cursor: pointer;
}
.topbarIcons{
    display:flex;

}
.createAccount{
    border:none;
    padding: .7rem;
    border-radius: .5rem;
/* background-color:green; */
    font-weight: 500;
    background-color: #008CBA;
    margin-right:1rem ;
    cursor: pointer;
    color:white;
}
.topbarIconItem{
    margin-right: 1.5rem;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge{
    width:0.75rem;
    height:0.75rem;
    background-color: red;
    border-radius: 50%;
    color:white;
    position: absolute;
    top: -.25rem;
    right:-.25rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:.75rem ;
}
.searchbar{
    width:100%;
    height: 2rem;
    background-color: white;
    border-radius:2rem;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 1.2rem !important;
    margin-left:.75rem;
}
.searchInput{
    border:none;
    width:70%
}
.searchInput:focus{
    outline:none
    
}
.topbarImg{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.logo{
    font-size:2rem;
    margin-left:2rem;
    font-weight: bold;
    color:white;
    cursor: pointer;
}