.post{
    width: 100%;
    border-radius:.7rem ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-top:2.5rem;
margin-bottom: 2.5rem;
}
.postWrapper{
    padding: .7rem;
}
.postTop{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postProfileImg{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.postUsername{
font-size: 1.4rem;
font-weight: 500;
margin-left:.8rem;
 margin-right:.8rem;
}
.postDate{
    font-size:1rem ;
}
.postCenter{
    margin-top: 1.9rem;
    margin-bottom: 1.9rem;
}
.postImg{
    margin-top: 1.9rem;
    width: 100%;
    max-height:65rem ;
    object-fit: contain;
}
.postBottom{
display: flex; 
   align-items: center;
   justify-content: space-between;    
}
.postBottomLeft{
    display:flex;
    align-items: center;
}
.likeIcon{
width: 2.5rem;
height: 2.5rem;
margin-right: .5rem;
cursor: pointer;
}
.likeCounter{
    font-size:1.7rem;
}
.commentText{
cursor: pointer;
    font-size:1.7rem;
border-bottom: 1px dashed gray;
}